.list {
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgb(231, 231, 231);
  border-bottom: 1px solid rgb(231, 231, 231);
  border-width: 1px;
  padding: 40px 25px 25px 25px;
}

.imgcont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.imgcont img {
  max-width: 100%;
  max-height: 100%;
}

.productcont {
  height: 80px;
  padding-bottom: 1px;
}

.list p {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 1px;
}

.price {
  font-weight: 500;
}

.list button {
  margin-top: 23px;
  font-size: 20px;
  border: none;
  background-color: #3ac08f;
  border-radius: 10px;
  height: 40px;
  color: white;
}

.list button:active {
  background-color: #30da9b;
}

.list button:hover {
  cursor: pointer;
}
